/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.logo {
    border-radius: 100%;
    padding: 5px;
    width: 150px; /* Justera bredden vid behov */
    height: auto; /* Behåll bildförhållandet */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(224, 224, 224);
}

.menu-toggle {
    opacity: 0;
}

nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex; /* Visa länkar som standard på större skärmar */
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 20px;
}

/* Länkar i navigationen för desktop */
.nav-list a {
    text-decoration: none;
    color: #333;
}

/* Hamburger Meny Stilar */
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Mobil Navigations Popup Meny Stilar */
.nav-list-mobile {
    display: none; /* Dölj länkar som standard */
    position: absolute; /* Positionera över innehållet */
    top: 60px; /* Justera baserat på din headerhöjd */
    left: 0;
    right: 0;
    background-color: #d3d3d3; /* Ljusgrå bakgrundsfärg */
    z-index: 1; /* Se till att den täcker annat innehåll */
    flex-direction: column; /* Stapla länkar vertikalt */
    padding: 10px 0; 
}